<div [ngSwitch]="action" class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
    <button *ngSwitchCase="'addToCart'" id="button-1379" class="hdca-button2 hdca-button2--primary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
        <span class="hdca-button2__label">Add To Cart</span>
    </button>

    <button *ngSwitchCase="'viewDetails'" id="button-1380" class="hdca-button2 hdca-button2--tertiary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
        <span class="hdca-button2__label">View Details</span>
    </button>
</div>